<div class="row text-center istatistik">
    <div class="col-lg-4">
        <div class="card card-custom">
            <a href="#" class="card-body">
                <div class="icon">
                    <img src="/images/calendar.png" alt="">
                </div>
                <h4>Bugünün Expertizi</h4>
                <p>0</p>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-custom">
            <a href="#" class="card-body">
                <div class="icon">
                    <img src="/images/calendar.png" alt="">
                </div>
                <h4>Bu Ayın Expertizi</h4>
                <p>0</p>
            </a>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-custom">
            <a href="#" class="card-body">
                <div class="icon">
                    <img src="/images/calendar.png" alt="">
                </div>
                <h4>Bu Yılın Expertizi</h4>
                <p>0</p>
            </a>
        </div>
    </div>
</div>

<div class="row text-center istatistik">
    <div class="col-lg-4">
        <div class="card card-custom">
            <div class="card-body">
                <div class="icon">
                    <img src="/images/average.png" alt="">
                </div>
                <h4>Aylık Ortalama</h4>
                <p>0.00</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-custom">
            <div class="card-body">
                <div class="icon">
                    <img src="/images/average.png" alt="">
                </div>
                <h4>Günlük Ortalama</h4>
                <p>0.00</p>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-custom">
            <div class="card-body">
                <div class="icon">
                    <img src="/images/safe.png" alt="">
                </div>
                <h4>Alınan Ücretler</h4>
                <p>0.00₺</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card custom-card">
        <div class="card-header">
            <div class="row align-items-center">
                <div class="col">
                    <h4 class="card-title">Müşteri Listesi</h4>
                </div>
                <div class="col-auto">
                    <form action="/arama" method="post" class="row g-2 align-items-center">
                        <input type="hidden" name="_token" value="uJqTFVS3ukfAiWRFIc7J4TQUiL2X4kaPH9lsUKbN">
                        <div class="col-lg-8">
                            <input type="text" autocomplete="off" name="kelime" class="form-control"
                                   placeholder="Müşteri Ara">
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-outline-primary">Ara</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body sg">
            <div class="alert alert-info" role="alert">
                <i class="fa fa-exclamation-triangle me-2"></i> Üzgünüz, aradığınız müşteri bulunamadı.
            </div>
        </div>
    </div>
</div>






